* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body,
html {
  height: 100%;
}
body {
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
header,
section,
footer {
  float: left;
  width: 100%;
  position: relative;
  clear: both;
}
input[type="submit"],
button {
  cursor: pointer;
}
textarea {
  resize: none;
}
input,
textarea,
keygen,
select,
button {
  text-transform: inherit;
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: table;
}
.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
.container:not(.container-table) {
  display: block;
}
.container-table {
  display: table;
}
[class^="col-"],
[class*="col-"] {
  display: block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
[class^="col-"]:not(.col-center),
[class*="col-"]:not(.col-center) {
  float: left;
}
[class^="col-"].col-xs-center,
[class*="col-"].col-xs-center {
  display: table;
  margin: 0 auto;
}
@media (min-width: 480px) {
  [class^="col-"].col-sm-center,
  [class*="col-"].col-sm-center {
    display: table;
    margin: 0 auto;
  }
}
@media (min-width: 980px) {
  [class^="col-"].col-md-center,
  [class*="col-"].col-md-center {
    display: table;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  [class^="col-"].col-lg-center,
  [class*="col-"].col-lg-center {
    display: table;
    margin: 0 auto;
  }
}
.box {
  display: table;
  width: 100%;
}
.col-xs-1 {
  width: 8.333333333333332%;
}
.col-xs-2 {
  width: 16.666666666666664%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333333333333%;
}
.col-xs-5 {
  width: 41.66666666666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.333333333333336%;
}
.col-xs-8 {
  width: 66.66666666666666%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333333334%;
}
.col-xs-11 {
  width: 91.66666666666666%;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 988px) {
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
