*
  margin 0
  padding 0
  box-sizing border-box
  outline none

body,
html
  height 100%

body
  overflow-x hidden

ol,
ul
  list-style none

table
  width 100%
  border-collapse collapse
  border-spacing 0

header, section, footer
  float left
  width 100%
  position relative
  clear both

input[type="submit"],
button
  cursor pointer

textarea
  resize none

input, textarea, keygen, select, button
  text-transform inherit
  font-family inherit
  font-weight inherit
  width 100%

h1, h2, h3, h4, h5
  font-size inherit
  font-weight inherit

a
  text-decoration none

img
  max-width 100%
  display table