size(w, h = false)
  if(h == false)
    width w
    height w
  else
    width w
    height h

font-awesome(c)
  content c
  font-family 'FontAwesome'
  font-style normal

placeholder()
  &::-webkit-input-placeholder
    {block}
  &::-moz-input-placeholder
    {block}
  &:-moz-input-placeholder
    {block}
  &:-ms-input-input-placeholder
    {block}

bg-gradient(color1, color2)
  background-image -moz-linear-gradient(color1 0%,color2 100%);
  background-image -webkit-gradient(linear,color-stop(0, color1),color-stop(1, Color2))
  background-image -webkit-linear-gradient(color1 0%,color2 100%)
  background-image -o-linear-gradient(color1 0%,color2 100%)
  background-image linear-gradient(color1 0%,color2 100%)